#button {
  font-size:30px ;
  background-color: lightgray;
  border:2px solid black;
  width:102px;
  height:80px;
  float:left;
}

#dis {
    width:385px;
    font:40px bold;
    padding:10px;
    text-align:right;
}
#clr{
    width:407px;
    font-size:30px ;
    background-color: lightgray;
    border:2px solid black;
    height:80px;
    float:left;
    
}